@charset "utf-8";
/* ------ Fonts ------ */
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.google.com/specimen/Open+Sans?query=open+sans');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* ------ Browser Resets ------ */
@import url("normalize.css");

html {
    font-size: 16px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    color: white;
    padding: 15px;
    font-family: "Sofia", sans-serif;
    background-color: #0ABAB5;
    display: block;
    margin: 0;
}

  #gameTitle {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

#wrapper {
    background-color:white;
    padding: 5px 5px 5px 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #F2DCB3;
    padding: 5px;
    display: block;
    margin: 10px;
}


img {
    max-width: 100px;
    max-height: auto;
}

.diceWrapper {
    border: solid;
    background-color: #F2DCB3;
    border-radius: 7px;
    padding: 7px;
    max-width: 225px;
    max-height: auto;
}

#gameArea {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-areas:
        "player computer",
        "playerRoll computerRoll",
        "playerDice computerDice"
        "playerScore computerScore",
        "playerTotal computerTotal",
        "round round",
        "result result";
    padding-left: 200px;
    padding-right: 150px;
}

#gameTitle {
    text-align: center;
}

#buttons {
   display: flex;
   justify-content: center;
}

#roll {
    margin-right: 5px;
}

p {
    max-width: 225px;
    font-weight: bold;
}

h2 {
    max-width: 225px;
}